body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 10px;
}
.corpo{
    text-align: center;
    margin: 20px;
    max-width: 900px;
    width: 100%;
    box-sizing: border-box;
}
h1{
    font-family: Arial;
}
p{
    text-align: left;
    font-family: Arial;
    font-size: 18px;
    margin: 10px 0;
}
a{
    text-align: left;
    font-family: Arial;
    font-size: 18px;
    margin: 10px 0;
    color: green;
}
button{
    width: 150px;
    height: 50px;
    background-color: green;
    color: white;
    border-radius: 10px;
    font-family: Arial;
    font-size: 30px;
    display: block;
    margin: 10px auto;
    transition: all ease-in-out 0.45s;
}
button:hover{
    background-color: darkgreen;
}
ul{
    text-align: left;
    font-family: Arial;
    font-size: 18px;
    margin: 10px 0;
}
li::marker{
    font-size: 1.5em;
}
.vermelho::marker{
    color: red;
}
.laranja::marker{
    color: orange;
}
.azul::marker{
    color: blue;
}
.verde::marker{
    color: green;
}
